body
{
    /* background-image: linear-gradient(to right , #ADCCEF , #E7F0FD) */
    /* background-image: linear-gradient(to right ,  #6DD5FA , #FFFFFF ); */
    font-family: 'Sacramento', cursive;
    border: none;
    margin: 0px;
}

    

.text
{
    display: flex;
    /* margin: 0px; */
    align-items: center;
    justify-content: space-around;
    text-align: left;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: #d51a22;
    text-shadow: 2px 2px 1px #dcd3d3;
    
}



#map
{
    height: 78vh;
    width: 100%;
    margin: auto;
    position: absolute;
    z-index: -1;

} 

.floor
{
    z-index: 10;
    background-color: aliceblue;
    padding: 8px;
    float:right;
    margin-right: 30px;
    margin-top: 285px; 
    display: block;
    border: .2px solid black;
    box-shadow: 2px 2px 5px 0px #b59e9e;
}

.box
{
    cursor: pointer;
}