body
{
    /* background-image: linear-gradient(to right , #ADCCEF , #E7F0FD) */
    /* background-image: linear-gradient(to right ,  #6DD5FA , #FFFFFF ); */
    font-family: 'Sacramento', cursive;
    border: none;
    margin: 0px;
}

    

.text
{
    display: flex;
    /* margin: 0px; */
    align-items: center;
    justify-content: space-around;
    text-align: left;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: #d51a22;
    text-shadow: 2px 2px 1px #dcd3d3;
    
}



#map
{
    height: 78vh;
    width: 100%;
    margin: auto;
    position: absolute;
    z-index: -1;

} 

.floor
{
    z-index: 10;
    float:right;
    margin-right: 30px;
    margin-top: 285px; 
    display: block;
    border: 2px solid #c2bfba;
    border-bottom: 1px solid #c2bfba;
    border-radius: 4px;

    box-shadow: 2px 2px 5px 0px #b59e9e;
    padding: 0px;
    width: 30px;
    text-align: center;
}

.box
{
    cursor: pointer;
    background-color: white;
    border-bottom: 1px solid #b2a3a3;
    color :rgb(111, 107, 107);
}

.box:hover
{
    background-color: #dcd7d7;
}
.click
{
    background-color: white;
    width: fit-content;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 480px;
    height: 25px;
    box-shadow: 3px 3px 3px #d1bebe;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color :darkgrey;
}


@media only screen and (max-device-width : 480px )
{
    .box
     {
        width: 30px;
        height: 40px;
     }

   .head
   {
    font-size: 32px;
   }  

   .click
   {
     margin-left: 300px;
   }



}